

<!DOCTYPE html>
<html>
<head>
<meta name="yandex-verification" content="08c2ed06216b74b4" />
<meta name="google-site-verification" content="BanPMnlL6EOfbZFxmgL7xlBX3WIZbiVDK2D49li-f0M" />

<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<meta charset="utf-8">
	<title>BYPolit.org :: Новости Беларуси - Белорусские новости - Новости Белоруссии</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="description" content="BYPolit.org :: Новости Беларуси - Белорусские новости - Новости Белоруссии - Республика Беларусь - Минск" >
	<meta name="keywords" content="BYPolit.org :: Новости Беларуси - Белорусские новости - Новости Белоруссии - Республика Беларусь - Минск">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bypolit.org/news/">
    <meta property="og:title" content="BYPolit.org :: Новости Беларуси - Белорусские новости - Новости Белоруссии">
	<meta property="og:description" content="BYPolit.org :: Новости Беларуси - Белорусские новости - Новости Белоруссии - Республика Беларусь - Минск">


	<link rel="shortcut icon" type="image/x-icon" href="http://bypolit.org/images.ico">

	<link rel="stylesheet" media="screen" href="http://bypolit.org/index_files/screen.css">
	<link rel="stylesheet" media="screen" href="http://bypolit.org/index_files/screen-fix.css">
	<!--[if IE]><script src="/js/html5shiv.js"></script><![endif]-->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter45281994 = new Ya.Metrika({
                    id:45281994,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45281994" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter --></head>

<body>
  	
<div class="l">
  


	<!-- BEGIN header -->
	<header class="header">
		<div class="header__right">
			<a class="logo" href="http://bypolit.org/news/">BYPolit.org</a>
			   <span class="header__date">2017-07-16 17:41:56</span>
		</div>
		<div class="header__main">
			<div class="header__top">
			
				<form action="http://bypolit.org/searchnews/empty/10" method="post" name="searchnews">
			
			<input class="header__top-item pda"  style=" background: #f6d654;" 
			value='Поиск' name='searchnews' type="submit" />
			<input class="header__top-item pda" style="width:200px; height:15px; border: 1px solid #cccccc;" 
		 name='searchnews' value='Введите слово'  />
			</form>
				
				<a class="header__top-item send-news" href="http://bypolit.org/prepare-news/">Прислать новость</a>
                <a class="icon-search js-search-show"></a>
			</div>
			
			<ul class="header__topnews">
			            			<li class="header__topnews_multiline header__topnews_mid">
                        <a href="http://bypolit.org/news/2017/07/14/1500041360/">
                            <img src="/pictures/2017/07/14/1500041360//img_1.jpg" width="228" height="76" />
							<span>Прибалтика вымирает</span>
                        </a>
                    </li>
				        			<li class="header__topnews_multiline header__topnews_mid">
                        <a href="http://bypolit.org/news/2017/7/8/1499520676/">
                            <img src="/pictures/2017/7/8/1499520676//img_1.jpg" width="228" height="76" />
							<span>Белоруску не пустили на Украину</span>
                        </a>
                    </li>
				        			<li class="header__topnews_multiline header__topnews_mid">
                        <a href="http://bypolit.org/news/2017/7/8/1499519983/">
                            <img src="/pictures/2017/7/8/1499519983//img_1.jpg" width="228" height="76" />
							<span>Путин поздравил белорусов</span>
                        </a>
                    </li>
					
			</ul>
		</div>
	</header>
	<!-- END header -->

  <div class="main-wrap">
    <div class="l-top">
	    <div class="topnews">
			<div class="topnews__pic">
			    <a href="http://bypolit.org/news/2017/07/16/1500204656/ssha-osvobodili-mosul/">
				    <img src="/pictures/2017/07/16/1500204656/ssha-osvobodili-mosul//img_1.jpg" 
					alt="Политзаключенный Юрий Павловец подал в суд за клевету" width="355" height="225" />
			    </a>
			</div>
			<span class="news__time">2017-07-16 14:30:56</span>
		    <h2 class="news__title"><a href="http://bypolit.org/news/2017/07/16/1500204656/ssha-osvobodili-mosul/">США "освободили" Мосул: преступление против человечности</a></h2>
		    <p>В ходе авиаударов коалиции США по району Маидан только за последние дни убито 300 и ранено 400 гражданских.			    <a href="http://bypolit.org/news/2017/07/16/1500204656/ssha-osvobodili-mosul/" class="news__counter">
				    0				</a>
			</p>
</div>
		
		<div class="toplist js-tabs">
		    <ul class="toplist__nav js-tab">
			    <li class="is-active"><a href="http://bypolit.org/topic/toplist/10">центральные новости</a></li>
			</ul>
			<div class="toplist__wrap js-tabcontent">
			    <div class="news">
				    <ul>
					  					    <li>
						    <a href="http://bypolit.org/news/2017/07/15/1500095946/politzaklyuchennyy-yuriy-pavlovec/">
							    <div class="news__pic"><img src="/pictures/2017/07/15/1500095946/politzaklyuchennyy-yuriy-pavlovec//img_1.jpg"></div>
								<span class="news__time">2017-07-15 08:19:06</span>
								<strong class="news__title">Политзаключенный Юрий Павловец подал в суд за клевету</strong>
							</a>
							<!-- <span class="news__type">фото</span> -->
							<!-- <span class="news__type">видео</span> -->
							<a href="http://bypolit.org/news/2017/07/15/1500095946/politzaklyuchennyy-yuriy-pavlovec/" class="news__counter">
							    0							</a>		
						</li>
						
					  					    <li>
						    <a href="http://bypolit.org/news/2017/07/14/1500010226/">
							    <div class="news__pic"><img src="/pictures/2017/07/14/1500010226//img_1.jpg"></div>
								<span class="news__time">2017-07-14 08:30:26</span>
								<strong class="news__title">Экономическому партнерству Молдовы и Беларуси быть!</strong>
							</a>
							<!-- <span class="news__type">фото</span> -->
							<!-- <span class="news__type">видео</span> -->
							<a href="http://bypolit.org/news/2017/07/14/1500010226/" class="news__counter">
							    0							</a>		
						</li>
						
					  					    <li>
						    <a href="http://bypolit.org/news/2017/07/13/1499957146/">
							    <div class="news__pic"><img src="/pictures/2017/07/13/1499957146//img_1.jpg"></div>
								<span class="news__time">2017-07-13 17:45:46</span>
								<strong class="news__title">НАТО одобряет лесных латвийских фашистов </strong>
							</a>
							<!-- <span class="news__type">фото</span> -->
							<!-- <span class="news__type">видео</span> -->
							<a href="http://bypolit.org/news/2017/07/13/1499957146/" class="news__counter">
							    0							</a>		
						</li>
						
					  					    <li>
						    <a href="http://bypolit.org/news/2017/07/13/1499921348/">
							    <div class="news__pic"><img src="/pictures/2017/07/13/1499921348//img_1.jpg"></div>
								<span class="news__time">2017-07-13 08:07:08</span>
								<strong class="news__title">Союзное государство Белорусси и России будет развиваться</strong>
							</a>
							<!-- <span class="news__type">фото</span> -->
							<!-- <span class="news__type">видео</span> -->
							<a href="http://bypolit.org/news/2017/07/13/1499921348/" class="news__counter">
							    0							</a>		
						</li>
						
					  	
						
		            </ul>
                </div>
			</div>
		</div><div class="l-sidebar">
			<div class="">
			    <div style="margin: 0 0 10px 0;">
				    <div ></div>
				</div>
				<div class="b opinion">
				    <h3 class="title"><a href="http://bypolit.org/topic/l-sidebar/10">Мысли вслух</a></h3>
					
										<a href="http://bypolit.org/news/2017/07/15/1500129252/pochemu-dodon-hochet-byt-pohoj-na-lukashenko/" class="opinion__item">
					    <div class="opinion__pic">
						    <img src="/pictures/2017/07/15/1500129252/pochemu-dodon-hochet-byt-pohoj-na-lukashenko//img_1.jpg"
								 alt="Почему Додон хочет быть похож на Лукашенко" width="120" height="76">
						</div>
						<div class="opinion__content"><strong class="news__title">Почему Додон хочет быть похож на Лукашенко</strong>
						    <span class="opinion__author">Семен Уралов, шеф-редактор журнала «Однако. Евразия»</span>
						</div>
					</a>
										<a href="http://bypolit.org/news/2017/07/14/1500019185/" class="opinion__item">
					    <div class="opinion__pic">
						    <img src="/pictures/2017/07/14/1500019185//img_1.jpg"
								 alt="Идеологию русофобии на Украине можно отыграть" width="120" height="76">
						</div>
						<div class="opinion__content"><strong class="news__title">Идеологию русофобии на Украине можно отыграть</strong>
						    <span class="opinion__author">Валерий Александрович Тишков, академик РАН</span>
						</div>
					</a>
										<a href="http://bypolit.org/news/2017/07/11/1499771674/" class="opinion__item">
					    <div class="opinion__pic">
						    <img src="/pictures/2017/07/11/1499771674//img_1.jpg"
								 alt="Изобличение зубастой клеветы на Историю" width="120" height="76">
						</div>
						<div class="opinion__content"><strong class="news__title">Изобличение зубастой клеветы на Историю</strong>
						    <span class="opinion__author">Егор Яковлев, историк, блоггер</span>
						</div>
					</a>
										<a href="http://bypolit.org/news/2017/07/11/1499763438/" class="opinion__item">
					    <div class="opinion__pic">
						    <img src="/pictures/2017/07/11/1499763438//img_1.jpg"
								 alt="Лукашенко презрел "Белый легион"" width="120" height="76">
						</div>
						<div class="opinion__content"><strong class="news__title">Лукашенко презрел "Белый легион"</strong>
						    <span class="opinion__author">Светлана Кузнецова, журналист</span>
						</div>
					</a>
						
					
				</div>
				
						
						<div class="b subscription">
						    <h3 class="title">подписка</h3>
							<ul>
		                       <li><a class="icon-facebook-1" href="https://www.facebook.com/BYPolit.org">facebook</a></li>
		                      <li><a class="icon-video" href="https://www.youtube.com/user/BYPolit.orgvideo">youtube</a></li>
		                       <li><a class="icon-twitter" href="https://twitter.com/BYPolit.org">twitter</a></li>
		                        <li><a class="icon-vk" href="https://vk.com/BYPolit.org">vkontakte</a></li>
		                       <li><a class="icon-odnoklassniki" href="https://ok.ru/BYPolit.org">ok.ru</a></li>
		                           <li><a class="icon-gplus" href="https://google.com/+BYPolit.orgorg_news/">gplus</a></li>
		                         <li><a class="icon-rss" href="http://bypolit.org/ru/page/rss/">RSS</a></li>
	                        </ul>
                        </div>
						<div class="b subscription_mail">
						    <link href="http://bypolit.org/index_files/classic-081711.css" rel="stylesheet" type="text/css">
							<div id="mc_embed_signup">
							    <form action="http://bypolit.org"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
								class="validate" target="_blank" novalidate="novalidate">
                                    <div id="mc_embed_signup_scroll">
								       <div class="mc-field-group">
									       <input placeholder="E-mail" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true" type="email">
										</div>
										<div id="mce-responses" class="clear">
										    <div class="response" id="mce-error-response" style="display:none"></div>
										    <div class="response" id="mce-success-response" style="display:none: color:#777"></div>
									    </div>
										<div style="position: absolute; left: -5000px;" aria-hidden="true">
										    <input name="b_c7abb483574b173324169d1f0_429e5501fc" tabindex="-1" type="text">
										</div>
										<div class="clear">
										     <input value="подписка" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit">
									    </div>
									</div>
								</form>
							</div>
                         </div>
			</div>
</div><div class="l-main">
<br>
    <h3 class="title">Основные события (1-10 всего 102) 
	</h3>
	<div class="news news_latest">
		<ul>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/16/1500204656/ssha-osvobodili-mosul/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/16/1500204656/ssha-osvobodili-mosul//img_1.jpg" 
						alt="США "освободили" Мосул: преступление против человечности" width="360" />
					</div>
					<span class="news__time">2017-07-16 14:30:56</span>
					<strong class="news__title">США "освободили" Мосул: преступление против человечности</strong>
			    </a>
				<p>В ходе авиаударов коалиции США по району Маидан только за последние дни убито 300 и ранено 400 гражданских.</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/16/1500183636/kult-lichnosti/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/16/1500183636/kult-lichnosti//img_1.jpg" 
						alt="Культ личности" width="360" />
					</div>
					<span class="news__time">2017-07-16 08:40:36</span>
					<strong class="news__title">Культ личности</strong>
			    </a>
				<p>У президента США Клинтона всегда было хорошее чувство юмора. Но не все женщины это ценили.</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/16/1500181893/ato-na-ukraine-antinarodnaya-terroristicheskaya-operaciya/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/16/1500181893/ato-na-ukraine-antinarodnaya-terroristicheskaya-operaciya//img_1.jpg" 
						alt="АТО на Украине: антинародная террористическая операция" width="360" />
					</div>
					<span class="news__time">2017-07-16 08:11:33</span>
					<strong class="news__title">АТО на Украине: антинародная террористическая операция</strong>
			    </a>
				<p>ВСУ произвели обстрел Докучаевска (ДНР) на день города. Один из снарядов попал в жилой дом, причем оказался он не простым снарядом, а агитационным.</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/15/1500136112/sud-podtverdil-prigovor-nacionalista-olega-volcheka-13-sutok-otsidki/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/15/1500136112/sud-podtverdil-prigovor-nacionalista-olega-volcheka-13-sutok-otsidki//img_1.jpg" 
						alt="Суд подтвердил приговор националиста Олега Волчека: 13 суток отсидки." width="360" />
					</div>
					<span class="news__time">2017-07-15 19:28:32</span>
					<strong class="news__title">Суд подтвердил приговор националиста Олега Волчека: 13 суток отсидки.</strong>
			    </a>
				<p>Агент Запада и белорусский националист Олег Волчек был осужден за участие в несанкционированном митинге националистов в Минске 17 февраля. Ему назначено наказание - 13 суток ареста и 585 рублей штрафа.</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/15/1500129252/pochemu-dodon-hochet-byt-pohoj-na-lukashenko/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/15/1500129252/pochemu-dodon-hochet-byt-pohoj-na-lukashenko//img_1.jpg" 
						alt="Почему Додон хочет быть похож на Лукашенко" width="360" />
					</div>
					<span class="news__time">2017-07-15 17:34:12</span>
					<strong class="news__title">Почему Додон хочет быть похож на Лукашенко</strong>
			    </a>
				<p>Семен Уралов, шеф-редактор журнала «Однако. Евразия»</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/15/1500106197/amerikancy-opyat-razbombili-shkolu-v-avganistane/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/15/1500106197/amerikancy-opyat-razbombili-shkolu-v-avganistane//img_1.jpg" 
						alt="Американцы опять разбомбили школу в Афганистане" width="360" />
					</div>
					<span class="news__time">2017-07-15 11:09:57</span>
					<strong class="news__title">Американцы опять разбомбили школу в Афганистане</strong>
			    </a>
				<p>Школа подверглась атаке с воздуха в городе Кундуз в одноименной провинции на севере Афганистана, сообщил директор департамента образования провинции Джанат Гуль Насири.</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/15/1500095946/politzaklyuchennyy-yuriy-pavlovec/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/15/1500095946/politzaklyuchennyy-yuriy-pavlovec//img_1.jpg" 
						alt="Политзаключенный Юрий Павловец подал в суд за клевету" width="360" />
					</div>
					<span class="news__time">2017-07-15 08:19:06</span>
					<strong class="news__title">Политзаключенный Юрий Павловец подал в суд за клевету</strong>
			    </a>
				<p>Политзаключенный Юрий Павловец подал в суд за клевету на газету "Советская Белоруссия". Павловец требует от редакции опровержения сведений из статьи «Поймали на слове» в «Народной газете» (часть холдинга СБ), а также компенсации морального вреда на 5 тысяч рублей.</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/14/1500041360/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/14/1500041360//img_1.jpg" 
						alt="Прибалтика вымирает" width="360" />
					</div>
					<span class="news__time">2017-07-14 17:09:20</span>
					<strong class="news__title">Прибалтика вымирает</strong>
			    </a>
				<p>В Литве за прошлый год население сократилось на 1,5%. Это "лидирующие" позиции в ЕС.</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/14/1500021671/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/14/1500021671//img_1.jpg" 
						alt="17 июля Минск принимает министров стран ОДКБ" width="360" />
					</div>
					<span class="news__time">2017-07-14 11:41:11</span>
					<strong class="news__title">17 июля Минск принимает министров стран ОДКБ</strong>
			    </a>
				<p>Главы МИД стран Организации обсудят ситуацию с безопасностью в регионе и вопросы противодействия современным вызовам и угрозам.</p>
								
			</li>
		  		    <li>
			    <a href="http://bypolit.org/news/2017/07/14/1500019185/">
				<br>
				    <div class="news__pic">
					    <img src="/pictures/2017/07/14/1500019185//img_1.jpg" 
						alt="Идеологию русофобии на Украине можно отыграть" width="360" />
					</div>
					<span class="news__time">2017-07-14 10:59:45</span>
					<strong class="news__title">Идеологию русофобии на Украине можно отыграть</strong>
			    </a>
				<p>Валерий Александрович Тишков, академик РАН</p>
								
			</li>
		  		
		  
		</ul>
	</div>
	
	
	<div class="pagi 11 + 1 = 11 ">
	  		<a class="btn btn_prev" href="http://bypolit.org/pastnews/empty/20">
		    <i class="icon-left"></i>прошлое
		</a>
      	      </div>
</div>	</div>
    <footer class="footer">
    <div class="footer__topics">
		<ul>
		<li><a href="http://bypolit.org/pastnews/belarus/10">Белоруссия</a></li>
		<li><a href="http://bypolit.org/pastnews/russia/10">Россия</a></li>
		<li><a href="http://bypolit.org/pastnews/ukri/10">Украина</a></li>
		<li><a href="http://bypolit.org/pastnews/poland/10">Польша</a></li>
		<li><a href="http://bypolit.org/pastnews/west/10">Запад</a></li>
		<li><a href="http://bypolit.org/pastnews/ussr/10">Советский Союз</a></li>
		<li><a href="http://bypolit.org/pastnews/cis/10">СНГ</a></li>
		<li><a href="http://bypolit.org/pastnews/economy/10">Экономика</a></li>
		<li><a href="http://bypolit.org/pastnews/policy/10">Политика</a></li>
		<li><a href="http://bypolit.org/pastnews/syria/10">Сирия</a></li>
		<li><a href="http://bypolit.org/pastnews/novoros/10">Новороссия</a></li>
		<li><a href="http://bypolit.org/pastnews/baltic/10">Прибалтика</a></li>
		<li><a href="http://bypolit.org/pastnews/world/10">Мир</a></li>
		<li><a href="http://bypolit.org/pastnews/army/10">Армия</a></li>
		<li><a href="http://bypolit.org/pastnews/rusbel/10">Союзное государство России и Белоруссии</a></li>
		<li><a href="http://bypolit.org/pastnews/history/10">История</a></li>
		<li><a href="http://bypolit.org/pastnews/religion/10">Религия</a></li>
		<li><a href="http://bypolit.org/pastnews/science/10">Наука</a></li>
		<li><a href="http://bypolit.org/pastnews/language/10">Русский язык</a></li>
		<li><a href="http://bypolit.org/pastnews/agent/10">Агенты Запада</a></li>
		<li><a href="http://bypolit.org/pastnews/nweapon/10">Ядерное оружие</a></li>
		<li><a href="http://bypolit.org/pastnews/CSTO/10">ОДКБ</a></li>
		<li><a href="http://bypolit.org/pastnews/site/10">BYPolit.org</a></li>
		</ul>
	</div>


	

<div class="wrapper-sponsors">
    <div class="sponsors owl-carousel owl-theme" >
        
        <div class="owl-wrapper-outer">
		    <div class="owl-wrapper" >
		        <div class="owl-item" style="width: 232px;">
		            <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_1.jpg">
                    </div>
		        </div>
		        
				<div class="owl-item" style="width: 232px;">
				    <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_1.jpg">
                    </div>
				</div>
				<div class="owl-item" style="width: 232px;">
		            <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_2.jpg">
					</div>
				</div>
				<div class="owl-item" style="width: 232px;">
		            <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_3.jpg">
                    </div>
				</div>
				<div class="owl-item" style="width: 232px;">
		            <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_4.jpg">
					</div>
				</div>
				<div class="owl-item" style="width: 232px;">
		            <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_5.png">
                    </div>
				</div>
				<div class="owl-item" style="width: 232px;">
		            <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_6.png">
					</div>
				</div>
				<div class="owl-item" style="width: 232px;">
		            <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_7.jpg">
					</div>
				</div>
				<div class="owl-item" style="width: 232px;">
		            <div class="spons-item">
                        <img src="http://bypolit.org/img/friend_8.png">
                    </div>
				</div>
			</div>
		</div>
        <div class="owl-controls clickable">
	        <div class="owl-pagination">
	            <div class="owl-page active">
				    <span class=""></span>
				</div>
	            <div class="owl-page">
				    <span class=""></span>
				</div>
	            <div class="owl-page">
				    <span class=""></span>
				</div>
	        </div>
	    </div>
	</div>
</div>

<div class="footer__bottom">
	<div class="footer__copy">
		<p>© 2017 <a href="http://bypolit.org">BYPolit.org</a><br><br>
		При использовании материалов сайта ссылка на сайт "BYPolit.org" обязательна.<br>
		Сайт "BYPolit.org": <a href="mailto:contact@bypolit.org">contact@bypolit.org</a>
		</p>
		
	</div>
</div>
</footer>  </div>
</div>
</body>

</html>